*{
    box-sizing: border-box;
}


/* button{
    border-radius: 2px;
} */

body{
    margin: 0;
    background: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


header{
    background: #0e0a49;
    color: #fff;
    border-bottom: 6px solid #121116;
}


.header-warper{
    line-height: 100px;
}

    .nav-bar li {
    height: 100px;
    text-align: center;
    }
    
    .nav-bar li a{
        display: block;
        /* width: 132px; */
        line-height: 64px;
        margin: 10px;
        background:transparent;
        padding: 10px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
    
    .nav-bar a:hover {
      color: #58c93a; 
      border-bottom: 6px solid #58c93a;
    }

    .title{
    font-family: monospace;
    font-size: 28px;
   }

nav ul input{
    height: 30px;
    border-radius: 50px;
    background: #d3edf2;
    margin-right: 10px;
}



/* .logo {
    font-family: 'eurofRegular', serif;
    font-size: 40px;
} */


/*----keywords bar----*/

.keywords-wrapper{
    flex-direction: column;
}

.keywords-wrapper h2{
  width: 100%;
   text-decoration: underline;
}

.keywords-wrapper li{
    padding: 0  10px 10px 10px;
    cursor: pointer;
}


/*----grid----*/

.images-wrapper img{
    width: 100%;
    height: 100%;
    grid-column: span 2;
    grid-row: span 2;
    cursor: pointer;
    border-radius: 0px;
}
.line-input {
    width: 100%;
    margin: 10px 0;
    height: 30px;
}


.controls-btn{
    height: 30px;
    width: 30px;
}

  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: calc( (100vw - 20px) / 6 );  
    grid-gap: 2px;
    /* background-color: rgb(36, 61, 82); */
    padding: 10px;
  }


.add-img {
    position: fixed;
    margin: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

/* nav a {
    text-decoration: none;
} */


.back-btn{
    height: 30px;
}

/* layout */

.container{
    width:90%;
    margin: 0 auto;
}

.edit-section{
    margin-top:100px;
}



/*----Canvas----*/

#imgCanvas{
    max-width: 700px; 
    max-height: 500px;
    border: 10px solid #0e0a49;
    margin-right:20px;
    border-radius: 5px;
}


aside {
    flex-direction: column;
    background: #0e0a49;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px; 
}

.add-line{
    height: 30px;
    margin-top:15px;
}
 
ul .fonts-li{
    height:30px;
    width: 70px;
    
}
ul .fonts-li select{
    height: 100%;
    width: 100%;
}

.arial{
 font-family: Arial, Helvetica, sans-serif;   
}

.impact{
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

.lucida{
 font-family:"Lucida Console", Monaco, monospace;   
 font-weight: 700;
}

.comic{
 font-family: "Comic Sans MS", cursive, sans-serif; 
 font-weight: bold;
}


#download{
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: #e3e3e3;
    line-height: 30px;
    border: 1px solid #eeeeee;
    color: #000;
}
.download-btn{
    height: 30px;
    width: 100%;
    margin-top: 15px 
    
}



/*----Helpers----*/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
} 


/* flex */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

.dropdown {
    position: absolute;
    top: 100%;
    z-index: 1;
    background: #292929;
    width:100%;
    left: 0;
  
    max-height: 0;
    overflow: hidden;
  
    transition: max-height .6s;
  }
  
  li:hover .dropdown {
    max-height: 100vh;
  }
  
  .main-menu .dropdown a {
    border: none;
    display: inline;
  }
  
  
  .icon::before {
    content: "";
    font-family: 'fontawesome';
    margin-right: 5px;
  }
  
  .icon-settings::before {
    content: "";
  }
  .icon-profile::before {
    content: "";
  }
  .icon-help::before {
    content: "";
  }

/*----modal----*/

  .modal
      {
    visibility: hidden;
    opacity: 0;
    /* Position fixed set the element position realtive to the browser window,
    the fixed element stay in his place even where the page scroll */
    position: fixed;    
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: rgba(3, 2, 36, 0.86);    
    color: white;
    box-sizing: border-box;
    /*the opacity change will take 0.3sec*/
    transition: opacity 0.3s;
    padding: 2em;
}

/* this class is added when we open the modal */
.modal-open{    
    visibility: visible;
    opacity: 1;
}

.btn-close {
    align-self: flex-end;
    border: 0;
    background: transparent;
    font-size: 2em;
    color:black;
}

.modal-container{
    flex-direction: column;
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:beige;
}

.modal-container-info{
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}


.uploud-url {
    height: 4em;
    width: 26em;
}

.uploud{
    height: 4em;
    width: 10em;
}

  