*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


header{
    background: #000;
    color: #fff;
    height: 70px;
}

.header-warper{
    line-height: 70px;
}

.gallery {
    background: lightsalmon;
}

/*----keywords bar----*/

.keywords-wrapper {
 background: firebrick;
}

.keywords-wrapper h2{
    width: 100%;
   text-decoration: underline;
}

.keywords-wrapper li{
    padding: 0  10px 10px 10px;
    cursor: pointer;
}


/*----grid----*/

.images-wrapper img{
    width: 100%;
    height: 100%;
    grid-column: span 2;
    grid-row: span 2;
    cursor: pointer;
}

/* .img-1 {
    grid-column: span 4;
    grid-row: span 4;
   }
  
  .img-2 {
    grid-column: span 4;
    grid-row: span 4;
  }
  
  .img-3 {
    grid-column: span 4;
    grid-row: span 4;
  } */

  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: calc( (100vw - 220px) / 12 );  
    grid-gap: 20px;
    /* background-color: rgb(36, 61, 82); */
    padding: 10px;
  }

.nav-bar  a{
    width: 30px;
    margin: 10px;
    border:1px solid #fff;
    height: 100%;
    background:gold;
    padding: 10px;
}

nav a {
    text-decoration: none;
}

canvas{
    border: 1px solid black;
   
}
/* layout */

.container{
    width:90%;
    margin: 0 auto;
}

/*----Canvas----*/

#imgCanvas{
    max-width: 800px; 
    max-height: 800px;
}


/*----Helpers----*/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* flex */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

