*{
    box-sizing: border-box;
}
body{
    margin: 0;
}


header{
    background: #000;
    color: #fff;
    height: 70px;
}

.header-warper{
    line-height: 70px;
}


.nav-bar  a{
    width: 30px;
    margin: 10px;
    border:1px solid #fff;
    height: 100%;
    background:gold;
    padding: 10px;
}
nav a {
    text-decoration: none;
}


/* layout */

.container{
    width:90%;
    margin: 0 auto;
}


/*----Helpers----*/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* flex */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}
