*{
    box-sizing: border-box;
}



/* button{
    border-radius: 2px;
} */

body{
    margin: 0;
    background: #d3edf2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


header{
    background: #0e0a49;
    color: #fff;
    height: 100px;
    border-bottom: 6px solid #121116;
}


.header-warper{
    line-height: 100px;
}

.title{
    font-family: monospace;
    font-size: 28px;
}
nav ul input{
    height: 30px;
    border-radius: 50px;
    background: #d3edf2;
    margin-right: 10px;
}



/*----keywords bar----*/



.keywords-wrapper h2{
    width: 100%;
   text-decoration: underline;
}

.keywords-wrapper li{
    padding: 0  10px 10px 10px;
    cursor: pointer;
}


/*----grid----*/

.images-wrapper img{
    width: 100%;
    height: 100%;
    grid-column: span 3;
    grid-row: span 3;
    cursor: pointer;
    border: 10px solid #0e0a49;
    border-radius: 10px;
}
.line-input {
    width: 100%;
    margin: 10px 0;
    height: 30px;
}


.controls-btn{
    height: 30px;
    width: 30px;
}

/* .img-1 {
    grid-column: span 4;
    grid-row: span 4;
   }
  
  .img-2 {
    grid-column: span 4;
    grid-row: span 4;
  }
  
  .img-3 {
    grid-column: span 4;
    grid-row: span 4;
  } */

  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: calc( (100vw - 220px) / 12 );  
    grid-gap: 20px;
    /* background-color: rgb(36, 61, 82); */
    padding: 10px;
  }

.nav-bar  a{
    width: 40px;
    margin: 10px;
    height: 100px;
    background:transparent;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

nav a {
    text-decoration: none;
}



.back-btn{
    height: 30px;
}

.add-line{
    height: 30px;
    margin-top:15px;
}
/* layout */

.container{
    width:90%;
    margin: 0 auto;
}

.edit-section{
    margin-top:100px;
}

aside{
    margin-left: 20px; 
}
/*----Canvas----*/

#imgCanvas{
    max-width: 700px; 
    max-height: 500px;
}
canvas{
    border: 10px solid #0e0a49;
    margin-right:20px;
}

aside {
    flex-direction: column;
    background: #0e0a49;
    padding: 10px;
}

#download{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: #e3e3e3;
    line-height: 30px;
    border: 1px solid #eeeeee;
    color: #000;
}
.download-btn{
    height: 30px;
    width: 100%;
    margin-top: 15px 
    
}

/*----Helpers----*/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
} 


/* flex */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

