* {
  box-sizing: border-box;
}

/* button{
    border-radius: 2px;
} */

body {
  margin: 0;
  background: #fafafa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

header {
  background: #4267b2;
  color: #fff;
  border-bottom: 2px solid #121116;
}

.header-warper {
  line-height: 100px;
}

.nav-bar li {
  height: 100px;
  text-align: center;
}

.nav-bar li a {
  display: block;
  /* width: 132px; */
  line-height: 64px;
  margin: 10px;
  background: transparent;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s;
}

.nav-bar a:hover {
  transform: scale(1.1);
  background: #072869b3;
}

.title {
  font-family: monospace;
  font-size: 28px;
}

nav ul input {
  height: 30px;
  border-radius: 50px;
  background: #d3edf2;
  margin-right: 10px;
}

/* .logo {
    font-family: 'eurofRegular', serif;
    font-size: 40px;
} */

/*----keywords bar----*/

.keywords-wrapper{
    flex-direction: column;
    max-width: 200px;
}

.keywords-wrapper h2 {
  width: 100%;
  text-decoration: underline;
}

.keywords-wrapper li {
  padding: 0 10px 10px 10px;
  cursor: pointer;
}

.background {
  border: 1px solid #c7c7c796;
}
/*----grid----*/

.images-wrapper img {
  width: 100%;
  height: 100%;
  grid-column: span 5;
  grid-row: span 3;
  cursor: pointer;
  border-radius: 4px;
}
.line-input {
  width: 100%;
  margin: 10px 0;
  height: 30px;
}

.controls-btn {
  height: 30px;
  width: 30px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: calc((100vw - 72px) / 9);
  grid-gap: 8px;
  /* background-color: rgb(36, 61, 82); */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-img {
  position: fixed;
  margin-top: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #000;
  background: #4267b2;
}

/* nav a {
    text-decoration: none;
} */

.back-btn {
  height: 30px;
}

/* layout */

.container {
  width: 90%;
  margin: 0 auto;
}

.edit-section{
    margin-top:40px;
}

.gallery-title {
  text-align: center;
}

/*----Canvas----*/

#imgCanvas{
    max-width: 700px; 
    /* max-height: 500px; */
    /* border: 10px solid #0e0a49;
    margin-right:20px; */
  border-radius: 5px;
  box-shadow: 0 0 6px 0px #f1d4d4;
}

aside {
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    /* margin-left: 20px;  */
    width: 90%;
    box-shadow: 0 0 4px 0px #f1d4d4;
}

.add-line {
  height: 30px;
  margin-top: 15px;
}

ul .fonts-li {
  height: 30px;
  width: 70px;
}
ul .fonts-li select {
  height: 100%;
  width: 100%;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.lucida {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
}

.comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

#download {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #e3e3e3;
  line-height: 30px;
  border: 1px solid #eeeeee;
  color: #000;
}
.download-btn {
  height: 30px;
  width: 100%;
  margin-top: 15px;
}
.social a {
  text-decoration: none;
  margin: 0 5px 0 0;
  height: 40px;
  width: 40px;
  padding: 5px;
  background: #4267b2;
  color: #fff;
}
/* the-team */
.the-team {
  padding-bottom: 20px;
  background: #4267b2;
}

/* contact */
.contact {
  padding: 40px 10px;
  border: 1px solid rgb(131, 131, 131);
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: gray;
}

.form-group {
  flex-direction: column;
  max-width: 100%;
}
.input {
  width: 580px;
  height: 38px;
  margin-bottom: 20px;
  max-width: 100%;
}
#input-message {
  width: 580px;
  height: 150px;
  max-width: 100%;
}
form button {
  width: 90px;
  height: 37px;
  background-color: #4267b2;
  margin-top: 20px;
  border: none;
}

.contact h2 {
  width: 168px;
  height: 22px;
  font-size: 30px;
  font-weight: 400;
  line-height: 4.56px;
  max-width: 100%;
}
.contact h3 {
  width: 421px;
  height: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.56px;
  max-width: 100%;
  margin-bottom: 30px;
}
/*----Helpers----*/

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

/* flex */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-full {
  flex: 1;
}

/*----modal----*/

.modal {
  visibility: hidden;
  opacity: 0;
  /* Position fixed set the element position realtive to the browser window,
    the fixed element stay in his place even where the page scroll */
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: rgba(3, 2, 36, 0.86);
  color: white;
  box-sizing: border-box;
  /*the opacity change will take 0.3sec*/
  transition: opacity 0.3s;
  padding: 2em;
  z-index: 207;
}

/* this class is added when we open the modal */
.modal-open {
  visibility: visible;
  opacity: 1;
}

.btn-close {
  align-self: flex-end;
  border: 0;
  background: transparent;
  font-size: 4em;
  margin-right: 10px;
  color: black;
}

.modal-container {
  flex-direction: column;
  color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: beige;
}

.modal-container-info {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.uploud-url {
  height: 4em;
  width: 26em;
}

.uploud {
  height: 4em;
  width: 26em;
}

.input-div {
  display: none;
}

footer {
  text-align: center;
}

