.nav-bar {
    flex-direction: column;
    position: fixed;
    top: 100px;
    right: 0;
    height: 100vh;
    width: 50vw;
    padding: 20px;
    transform: translate(100%, 0);
    transition: transform .5s;
    justify-content: flex-start;
    background: #052b75;
}

.nav-bar.open {
    transform: translate(0, 0);
}


.nav-bar li:first-child{
    display: none;
}

.nav-bar li a:first-child{
   padding-top: 40px;
}

.nav-bar li:not(:first-child) {
    margin: 0;
}

.nav-bar li a {
    display: block;
    margin-bottom: 10px;
    line-height: 0;
    border-bottom: 1px solid white;
}


.hamburger {
    display: block;
    background:none;
    border:none;
    background:none;
    color:white;
    font-size:30px;
}

.side-search {
    margin-top:20px;
}


.keywords-wrapper {
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    background: #052b75;
    height: 100vh;
    padding: 20px;
    transform: translate(100%, 0);
    transition: transform .5s;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.keywords-wrapper.open {
    transform: translate(0, 0);
}
.keywords-wrapper li:not(:first-child) {
    margin: 0;
}

.keywords-wrapper li a {
    display: block;
    margin-bottom: 10px;
}

.search-bar{
    border: none;
    background: none;
    color:white;
    font-size: 25px;
}

.grid-container {
    padding: 0;
}

.keywords-bar {
  justify-content: center;
}

.keywords-bar h2{
    text-align: center;
  }
