.nav-bar {
    flex-direction: column;
    position: fixed;
    top: 100px;
    right: 0;
    height: 100vh;
    width: 50vw;
    padding: 20px;
    transform: translate(100%, 0);
    transition: transform .5s;
    justify-content: flex-start;
    background: #052b75;
    z-index: 201;
}

.nav-bar.open {
    transform: translate(0, 0);
}


.nav-bar li:first-child{
    display: none;
}

.nav-bar li a:first-child{
   padding-top: 40px;
}

.nav-bar li:not(:first-child) {
    margin: 0;
}

.nav-bar li a {
    display: block;
    margin-bottom: 10px;
    line-height: 0;
    border-bottom: 1px solid white;
}


.hamburger {
    display: block;
    background:none;
    border:none;
    background:none;
    color:white;
    font-size:30px;
}

.side-search {
    margin-top:100px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}
main{
    padding-top: 100px;
}

.keywords-wrapper {
    flex-direction: column;
    position: fixed;
    padding-top: 100px;
    right: 0;
    top:0;
    width: 50%;
    background: #052b75;
    height: 100%;
    padding: 20px;
    transform: translate(500px, 0);
    transition: transform .5s;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.keywords-wrapper.open {
    transform: translate(0, 0);
}
.keywords-wrapper li:not(:first-child) {
    margin: 0;
}

.keywords-wrapper li a {
    display: block;
    margin-bottom: 10px;
}

.search-bar{
    border: none;
    background: none;
    color:white;
    font-size: 25px;
}


.grid-container {
    padding: 0;
}

.logo-man{
    height: 40%;
    width: 60%;
}
  


/* auditor */

.meme-page{
    flex-wrap:wrap;
    width: 100%;
}

#imgCanvas{
    max-width: 700px; 
    /* max-height: 290px; */
    /* margin-right:20px; */
    border-radius: 5px;
    width: 100%;
    margin-top: 100px;
}

.canvas-warper{
    position: relative;
}

.input-div{
    height:40px;
    width: calc(100vw / 2);
    position: absolute;
    z-index: 1;
    color: transparent;
    display: block;
}

.div-0{
    top: 20px;
    left: 65px;
}

.div-1{
    bottom: 40px;
    left: 65px;
}

.keywords-bar {
  justify-content: center;
}

.keywords-bar h2{
    text-align: center;
  }

  .add-line{
      display: none;
  }


  aside{
      width: 100%;
  }
