 /*-------------------------gallery-----------------------------*/

.hamburger {
    display: none;
}

.search-bar {
    display: none;
}

.add-img {
    margin-left: 20px;
    margin-top: 20px;
}

.side-search {
    display: none;
}

/* .keywords-wrapper{
    max-width: 200px;
} */

/*----grid----*/

.images-wrapper img{
    width: 100%;
    height: 100%;
    grid-column: span 3;
    grid-row: span 2;
    cursor: pointer;
    border-radius: 2px;
}

  .grid-container {

    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: calc( (100vw - 111px) / 12 );  
    grid-gap: 10px;
    /* background-color: rgb(36, 61, 82); */
    padding: 10px;
  }


  /*-------------------------meme genaretor-----------------------------*/

  aside {
    justify-content: space-around;
    background: #fafafa;
    border: 1px solid hsla(0, 0%, 0%, 0.12);
    margin-left: 20px;
    max-width: 500px;
  }


#imgCanvas{
    max-width: 50vw; 
}